.datagrid table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;	
}

.datagrid {
	font: normal 12px/ 150% Arial, Helvetica, sans-serif; background: #fff;
	overflow: hidden; border: 1px solid #45494D; -webkit-border-radius: 3px;
	-moz-border-radius: 3px; border-radius: 3px; margin: 10px
}

.datagrid table td,.datagrid table th {padding: 3px 10px;}

.datagrid table thead th {
	background-color: #45494D; color: #FFFFFF; font-size: 14px; font-weight: normal; border-left: 1px solid #45494D;}

.datagrid table thead th:first-child {border: none; border-bottom: 1px solid #45494D;}

.datagrid table tbody td {
	color: black; border-left: 1px solid #45494D; font-size: 12px; font-weight: normal; vertical-align: top !important;
}

.datagrid table tbody .alt td {background: #E9EDF0; color: #000000;}
.datagrid table tbody td:first-child {border-left: none; }
.datagrid table tbody tr:not(:last-child) td{border-bottom: 1px solid #45494D;}

.datagrid table tbody tr:last-child td {border-bottom: none;}
.datagrid table tbody tr td:nth-child(odd) {font-weight:bold; color: darkslategrey; width:18%}
.datagrid table tbody tr td:nth-child(even) {font-weight:bold; color: darkslategrey; width:31.9%}

txt_Hide{display:none}

td {vertical-align: top;}
@media print {
	.hidePrint {display: none}
}