<?xml version='1.0' encoding='utf-8'?>
<note class='form' xmlns='http://www.lotus.com/dxl' version='9.0' maintenanceversion='1.10'
 replicaid='CA25845C0015C763'>
<noteinfo noteid='982' unid='4290D7CA6D28F454CA258065008167FD' sequence='74'>
<created><datetime dst='true'>20161109T103327,65+11</datetime></created>
<modified><datetime>20190820T135930,03+10</datetime></modified>
<revised><datetime>20190719T154702,12+10</datetime></revised>
<lastaccessed><datetime>20190820T135930,02+10</datetime></lastaccessed>
<addedtofile><datetime>20190820T135930,02+10</datetime></addedtofile></noteinfo>
<updatedby><name>CN=Sean Ogden Power/O=Primaxis</name><name>CN=Steve Hooper/O=Primaxis</name><name
>CN=Johan Poot/O=Primaxis</name><name>CN=Caprica/O=Dr Notes</name><name>CN=Sean Ogden Power/O=Primaxis</name><name
>CN=Johan Poot/O=Primaxis</name><name>CN=Steve Hooper/O=Primaxis</name><name
>CN=Baljit Kaur Karwal/O=Primaxis</name><name>CN=Johan Poot/O=Primaxis</name><name
>CN=Baljit Kaur Karwal/O=Primaxis</name><name>CN=Johan Poot/O=Primaxis</name><name
>CN=Baljit Kaur Karwal/O=Primaxis</name><name>CN=Sumit Tayal/O=Primaxis</name><name
>CN=Baljit Kaur Karwal/O=Primaxis</name></updatedby>
<wassignedby><name>CN=Baljit Kaur Karwal/O=Primaxis</name></wassignedby>
<item name='$Comment' sign='true'><text/></item>
<item name='$HTMLCode' sign='true'>
<rawitemdata type='1'>
X/8QAAIADwAHAAAAAAAAAA==
</rawitemdata></item>
<item name='$TITLE'><text>DBTitle_New</text></item>
<item name='$Info' sign='true'>
<rawitemdata type='1'>
hhgBAIAAAAAAgAAADwABAMDAwAAQAAAA
</rawitemdata></item>
<item name='$Flags'><text>C34WQw</text></item>
<item name='$DesignerVersion' sign='true'><text>8.5.3</text></item>
<item name='$Fonts'>
<rawitemdata type='1'>
i/8oAAEABRZDYW1icmlhAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==
</rawitemdata></item>
<item name='$$ScriptName' summary='false' sign='true'><text>DBTitle_New</text></item>
<item name='$Body' sign='true'>
<rawitemdata type='1'>
gQKC/1oAAQADAAAAAAAAAKAFAACgBQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAABAAAAAJSHAAAAAAAAAAAAAAAAAQAAAAQAAACDBAEA3QYAAIX/hf8IAAUAfw7SCAEA
srKyAN4GAACF/90GAACt/6n/IgABABgABAAWABYAAAAUAAEACgBEYXRhYmFzZTogAwDdBgAAhf+F
/wgABQABDtIIAQD///8A3gYAAIX/qgLeBgAArgDdBgAAhf+F/wgABQB/DtIIAQCysrIA3gYAAIX/
3QYAAK3/qf8WAAEAGAAEAAoACgAAAAgAnAADAN0GAACF/4X/CAAFARMO0ggBAP//0ADeBgAAhf+q
At4GAACuAN0GAACF/4X/DQAFAAEOICAgICAA0ggBAP///wDeBgAAhf/dBgAArf+p/yAAAQAYAAQA
FAAUAAAAEgABAAgAU2VydmVyOiADAN0GAACF/4X/CAAFAAEO0ggBAP///wDeBgAAhf+qAt4GAACu
AN0GAACF/4X/CAAFAAEO0ggBAP///wDeBgAAhf/dBgAArf+p/2YAAQAYAAQAWgBaAAAAQgACAAUA
AAAAAAAAiwC0AgEAAAAKAq8AJgAQAAEABQBMT0NBTACuABYAAgAFAAAAAAAAAIsAtAKuAAQAtQMD
AAcAFgAQAAk2UzhTOVMxMVMxM1MxN1PdBgAAhf+F/wgABQETDtIIAQD//9AA3gYAAIX/qgLeBgAA
rgDdBgAAhf+F/w0ABQABDiAgICAgANIIAQD///8A3gYAAIX/3QYAAK3/qf8kAAEAGAAEABgAGAAA
ABYAAQALAEZpbGUgUGF0aDogAAMA3QYAAIX/hf8IAAUAAQ7SCAEA////AN4GAACF/6oC3gYAAK4A
3QYAAIX/hf8IAAUAEw7SCAEA///QAN4GAACF/90GAACt/6n/MAABABgABAAkACQAAAAWAIsAAAAA
AAAAAADwPxABawIDAAcADAAFAAkwUzBFAN0GAACF/4X/CAAFARMO0ggBAP//0ADeBgAAhf+qAt4G
AACuAN0GAACF/4X/CAAFABMO0ggBAP//0ADeBgAAhf8=
</rawitemdata></item></note>

