<?xml version='1.0' encoding='utf-8'?>
<note class='form' xmlns='http://www.lotus.com/dxl' version='9.0' maintenanceversion='1.10'
 replicaid='CA25845C0015C763'>
<noteinfo noteid='8ba' unid='043D7B462CCBC37BCA257F91007C44AC' sequence='77'>
<created><datetime>20160411T083720,44+10</datetime></created>
<modified><datetime>20190820T135910,88+10</datetime></modified>
<revised><datetime>20190719T154701,98+10</datetime></revised>
<lastaccessed><datetime>20190820T135910,87+10</datetime></lastaccessed>
<addedtofile><datetime>20190820T135910,87+10</datetime></addedtofile></noteinfo>
<updatedby><name>CN=Sean Ogden Power/O=Primaxis</name><name>CN=Steve Hooper/O=Primaxis</name><name
>CN=Johan Poot/O=Primaxis</name><name>CN=Caprica/O=Dr Notes</name><name>CN=Sean Ogden Power/O=Primaxis</name><name
>CN=Johan Poot/O=Primaxis</name><name>CN=Steve Hooper/O=Primaxis</name><name
>CN=Baljit Kaur Karwal/O=Primaxis</name><name>CN=Johan Poot/O=Primaxis</name><name
>CN=Baljit Kaur Karwal/O=Primaxis</name><name>CN=Johan Poot/O=Primaxis</name><name
>CN=Baljit Kaur Karwal/O=Primaxis</name><name>CN=Sumit Tayal/O=Primaxis</name><name
>CN=Baljit Kaur Karwal/O=Primaxis</name></updatedby>
<wassignedby><name>CN=Baljit Kaur Karwal/O=Primaxis</name></wassignedby>
<item name='$Comment' sign='true'><text/></item>
<item name='$HTMLCode' sign='true'>
<rawitemdata type='1'>
X/8QAAIADwAHAAAAAAAAAA==
</rawitemdata></item>
<item name='$TITLE'><text>DBTitle</text></item>
<item name='$Info' sign='true'>
<rawitemdata type='1'>
hhgBAIAAAAAAgAAAAQABAP///wAQAAAA
</rawitemdata></item>
<item name='$Flags'><text>C34WQw</text></item>
<item name='$DesignerVersion' sign='true'><text>8.5.3</text></item>
<item name='$Fonts'>
<rawitemdata type='1'>
i/9KAAIABRZDYW1icmlhAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYmQ2FsaWJyaQAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAA=
</rawitemdata></item>
<item name='$$ScriptName' summary='false' sign='true'><text>DBTitle</text></item>
<item name='$Body' sign='true'>
<rawitemdata type='1'>
gQKC/1oAAQAAAAAAAAAAAKAFAACgBQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAACBAAAAAJWHAAAAAAAAAAAAAAAAAQAAAAYAAACDBAEAhf8IAAEAAAqBAoL/WgACAAAA
AAAAAAAAOAQAADgEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEA
AAAAFIQ4BAAAOAQIAAAAZAABAAAABAAAAIMEAgDdBgEA+//7/ywAQQAAAAECAQAAAAAAAAAAAAAA
AAAAAAAAAAAAAAEAAAAAAAAAAAAAAFz/PgABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAOAAAAAAAAAAEAAAoAAAAAAQAAAAAA3gYBAPv/ow44BBsBPAAbAQAAAwCkEgAAUwUyCAAA
AIIAAAEBAACBAoL/WgADAAAAAAAAAAAAUwUyCFMFAQDKHAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAhgEAAAAAVIcAAAAAAAAAAAAAAAABAAAABAAAAIMEAwCF/wgAAQAACqQS
AAFoCs1hgHAAIgAAAQEAAIECgv9aAAQAAAAAAAAAAABoCs1haAoAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAACGAQAAAABUhwAAAAAAAAAAAAAAAAEAAAAEAAAAgwQEAN0G
AACF/4X/CAAFAHIY0ggBAOuFFADeBgAAhf/dBgAArf+p/xYAAQAYAAQACgAKAAAACACcAAMA3QYA
AIX/hf8IAAUB5xHSCAEAATVdAN4GAACF/6oC3gYAAK4A3QYAAIX/hf8IAAUAchjSCAEA64UUAN4G
AACF/4ECgwQEAN0GAACF/4X/CAAFAHIY0ggBAOuFFADeBgAAhf/dBgAArf+p/yAAAQAYAAQAFAAU
AAAAEgABAAgAU2VydmVyOiADAN0GAACF/4X/CAAGAecM0ggBAAE1XQDeBgAAhf+qAt4GAACuAN0G
AACF/4X/CAAFAHIY0ggBAOuFFADeBgAAhf/dBgAArf+p/2YAAQAYAAQAWgBaAAAAQgACAAUAAAAA
AAAAiwC0AgEAAAAKAq8AJgAQAAEABQBMT0NBTACuABYAAgAFAAAAAAAAAIsAtAKuAAQAtQMDAAcA
FgAQAAk2UzhTOVMxMVMxM1MxN1PdBgAAhf+F/wgABgByDNIIAQDrhRQA3gYAAIX/qgLeBgAArgDd
BgAAhf+F/woABQByGCAg0ggBAOuFFADeBgAAhf/dBgAArf+p/yQAAQAYAAQAGAAYAAAAFgABAAsA
RmlsZSBQYXRoOiAAAwDdBgAAhf+F/wgABgHnDNIIAQABNV0A3gYAAIX/qgLeBgAArgDdBgAAhf+F
/wgABQByGNIIAQDrhRQA3gYAAIX/3QYAAK3/qf8wAAEAGAAEACQAJAAAABYAiwAAAAAAAAAAAPA/
EAFrAgMABwAMAAUACTBTMEUA3QYAAIX/hf8IAAYAcgzSCAEA64UUAN4GAACF/6oC3gYAAK4A3QYA
AIX/hf8IAAEAcgrSCAEA64UUAN4GAACF/6UGAAAAAIECgwQBAIX/CAABAAAK
</rawitemdata></item></note>

